<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" name="viewport"/>
<meta content="bootstrap material admin template" name="description"/>
<meta content="" name="author"/>
<title>NLP-TO-LINUX</title>
<link href="{{ url_for('static', filename='center/assets/images/apple-touch-icon.png') }}" rel="apple-touch-icon"/>
<link href="{{ url_for('static', filename='center/assets/images/favicon.ico') }}" rel="shortcut icon"/>
<!-- Stylesheets -->
<link href="{{ url_for('static', filename='global/css/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/css/bootstrap-extend.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='center/assets/css/site.css') }}" rel="stylesheet"/>
<!-- Plugins -->
<link href="{{ url_for('static', filename='global/vendor/animsition/animsition.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/asscrollable/asScrollable.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/switchery/switchery.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/intro-js/introjs.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/slidepanel/slidePanel.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/flag-icon-css/flag-icon.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/vendor/waves/waves.css') }}" rel="stylesheet"/>
<!-- Fonts -->
<link href="{{ url_for('static', filename='global/fonts/material-design/material-design.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='global/fonts/brand-icons/brand-icons.min.css') }}" rel="stylesheet"/>
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic" rel="stylesheet"/>
<!--[if lt IE 9]>
    <script src="static/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
<!--[if lt IE 10]>
    <script src="static/global/vendor/media-match/media.match.min.js"></script>
    <script src="static/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
<!-- Scripts -->
<script src="{{ url_for('static', filename='global/vendor/breakpoints/breakpoints.js') }}"></script>
<script>
      Breakpoints();
    </script>
<script>
	/*
	var message = "{{mess}}";
	console.log(message);
	if (message.localeCompare("") != 0)
	{
		alert(message);
	}
	*/
</script>

</head>
<body class="animsition page-aside-right">
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">
<div class="navbar-header">
<button class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="hamburger-bar"></span>
</button>
<button class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse" type="button">
<i aria-hidden="true" class="icon md-more"></i>
</button>
<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
<img class="navbar-brand-logo" src="{{ url_for('static', filename='center/assets/images/logo.png') }}" title="Remark"/>
<span class="navbar-brand-text hidden-xs-down"> Remark</span>
</div>
<button class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse" type="button">
<span class="sr-only">Toggle Search</span>
<i aria-hidden="true" class="icon md-search"></i>
</button>
</div>

<div class="navbar-container container-fluid">
<!-- Navbar Collapse -->
<div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
<!-- Navbar Toolbar -->
<ul class="nav navbar-toolbar">
<li class="nav-item hidden-float" id="toggleMenubar">
<a class="nav-link" data-toggle="menubar" href="#" role="button">
<!--<i class="icon hamburger hamburger-arrow-left">

<span class="sr-only">Toggle menubar</span>
<span class="hamburger-bar"></span>
</i>-->
<span class="navbar-brand-text hidden-xs-down"></span>
</a>
</li>
<li class="nav-item hidden-sm-down" id="toggleFullscreen">
<a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
<span class="sr-only">Toggle fullscreen</span>
</a>
</li>
<!--<li class="nav-item hidden-float">
<a class="nav-link icon md-search" data-target="#site-navbar-search" data-toggle="collapse" href="#" role="button">
<span class="sr-only">Toggle Search</span>
</a>
</li>
-->
</ul>
<!-- End Navbar Toolbar -->
<!-- Navbar Toolbar Right -->
<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
<li class="nav-item dropdown">
<!-- <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                aria-expanded="false" role="button">
<a class="nav-link" href="http://localhost:5001/show_group_create/none"><i aria-hidden="true" class="icon md-plus">  <span></span>Create Group</i></a>-->
<!--<span class="navbar-brand-text hidden-xs-down">
                  <strong>Create Group</strong></span>-->
</li>
<!--
<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link navbar-avatar" data-animation="scale-up" data-toggle="dropdown" href="#" role="button">
<span class="avatar avatar-online">
<img alt="..." src="{{ url_for('static', filename='global/portraits/5.jpg') }}"/>
<i></i>
</span>
</a>
<div class="dropdown-menu" role="menu">
<a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i aria-hidden="true" class="icon md-account"></i> Profile</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="Login.html" role="menuitem"><i aria-hidden="true" class="icon md-power"></i> Logout</a>
</div>

</li>
-->
<!--<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link" data-animation="scale-up" data-toggle="dropdown" href="javascript:void(0)" role="button" title="Notifications">
<i aria-hidden="true" class="icon md-notifications"></i>
<span class="badge badge-pill badge-danger up">5</span>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
<div class="dropdown-menu-header">
<h5>NOTIFICATIONS</h5>
<span class="badge badge-round badge-danger">New 5</span>
</div>
<div class="list-group">
<div data-role="container">
<div data-role="content">
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-receipt bg-red-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">A new order has been placed</h6>
<time class="media-meta" datetime="2017-06-12T20:50:48+08:00">5 hours ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-account bg-green-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Completed the task</h6>
<time class="media-meta" datetime="2017-06-11T18:29:20+08:00">2 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-settings bg-red-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Settings updated</h6>
<time class="media-meta" datetime="2017-06-11T14:05:00+08:00">2 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-calendar bg-blue-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Event started</h6>
<time class="media-meta" datetime="2017-06-10T13:50:18+08:00">3 days ago</time>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<i aria-hidden="true" class="icon md-comment bg-orange-600 white icon-circle"></i>
</div>
<div class="media-body">
<h6 class="media-heading">Message received</h6>
<time class="media-meta" datetime="2017-06-10T12:34:48+08:00">3 days ago</time>
</div>
</div>
</a>
</div>
</div>
</div>
<div class="dropdown-menu-footer">
<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
<i aria-hidden="true" class="icon md-settings"></i>
</a>
<a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
</div>
</div>
</li> -->
<!--
<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link" data-animation="scale-up" data-toggle="dropdown" href="javascript:void(0)" role="button" title="Messages">
<i aria-hidden="true" class="icon md-email"></i>
<span class="badge badge-pill badge-info up">3</span>
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
<div class="dropdown-menu-header" role="presentation">
<h5>MESSAGES</h5>
<span class="badge badge-round badge-info">New 3</span>
</div>
<div class="list-group" role="presentation">
<div data-role="container">
<div data-role="content">
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-online">
<img alt="..." src="{{ url_for('static', filename='global/portraits/2.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Mary Adams</h6>
<div class="media-meta">
<time datetime="2017-06-17T20:22:05+08:00">30 minutes ago</time>
</div>
<div class="media-detail">Anyways, i would like just do it</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-off">
<img alt="..." src="{{ url_for('static', filename='global/portraits/3.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Caleb Richards</h6>
<div class="media-meta">
<time datetime="2017-06-17T12:30:30+08:00">12 hours ago</time>
</div>
<div class="media-detail">I checheck the document. But there seems</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-busy">
<img alt="..." src="{{ url_for('static', filename='global/portraits/4.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">June Lane</h6>
<div class="media-meta">
<time datetime="2017-06-16T18:38:40+08:00">2 days ago</time>
</div>
<div class="media-detail">Lorem ipsum Id consectetur et minim</div>
</div>
</div>
</a>
<a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
<div class="media">
<div class="pr-10">
<span class="avatar avatar-sm avatar-away">
<img alt="..." src="{{ url_for('static', filename='global/portraits/5.jpg') }}"/>
<i></i>
</span>
</div>
<div class="media-body">
<h6 class="media-heading">Edward Fletcher</h6>
<div class="media-meta">
<time datetime="2017-06-15T20:34:48+08:00">3 days ago</time>
</div>
<div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
</div>
</div>
</a>
</div>
</div>
</div>
<div class="dropdown-menu-footer" role="presentation">
<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
<i aria-hidden="true" class="icon md-settings"></i>
</a>
<a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    See all messages
                  </a>
</div>
</div>
</li>
<li class="nav-item" id="toggleChat">
<a class="nav-link" data-toggle="site-sidebar" data-url="../site-sidebar.tpl" href="javascript:void(0)" title="Chat">
<i aria-hidden="true" class="icon md-comment"></i>
</a>
</li>
-->
</ul>
<!-- End Navbar Toolbar Right -->
<div class="navbar-brand navbar-brand-center">
<a href="#" style="color:white;">
<img class="navbar-brand-logo navbar-brand-logo-normal" src="{{ url_for('static', filename='center/assets/images/logo.png') }}" title="Remark"/>
<img class="navbar-brand-logo navbar-brand-logo-special" src="{{ url_for('static', filename='center/assets/images/logo-colored.png') }}" title="Remark"/>
              Natural Language to Linux Commands
            </a>
</div>
</div>
<!-- End Navbar Collapse -->
<!-- Site Navbar Seach -->
<div class="collapse navbar-search-overlap" id="site-navbar-search">
<form role="search">
<div class="form-group">
<div class="input-search">
<i aria-hidden="true" class="input-search-icon md-search"></i>
<input class="form-control" name="site-search" placeholder="Search..." type="text"/>
<button aria-label="Close" class="input-search-close icon md-close" data-target="#site-navbar-search" data-toggle="collapse" type="button"></button>
</div>
</div>
</form>
</div>
<!-- End Site Navbar Seach -->
</div>
</nav>

<!--
<div class="site-menubar">
<div class="site-menubar-header">
<div class="cover overlay">
<img alt="..." class="cover-image" src="{{ url_for('static', filename='center/assets/examples/images/dashboard-header.jpg') }}"/>
<div class="overlay-panel vertical-align overlay-background">
<div class="vertical-align-middle">
<div class="site-menubar-info">
<h5 class="site-menubar-user">{{u_name}}</h5>
<p class="site-menubar-email">{{email}}</p>
</div>
</div>
</div>
</div>
</div> <div class="site-menubar-body">
<div>
<div>
<ul class="site-menu" data-plugin="menu">
<li class="site-menu-item">
<a class="animsition-link" href="http://localhost:5001/show_login">
<i aria-hidden="true" class="site-menu-icon md-view-dashboard"></i>
<span class="site-menu-title">Logout</span>
</a>
</li>
<li class="site-menu-item">
<a class="animsition-link" href="http://localhost:5001/show_user_profile">
<i aria-hidden="true" class="site-menu-icon md-view-dashboard"></i>
<span class="site-menu-title">Profile</span>
</a>
</li>

<li class="site-menu-item has-sub active open">
</li>
</ul> </div>
</div>
</div>
</div>
<div class="page">
<div class="page-aside">
<div class="page-aside-switch">
<i aria-hidden="true" class="icon md-chevron-left"></i>
<i aria-hidden="true" class="icon md-chevron-right"></i>
</div>
<div class="page-aside-inner page-aside-scroll">
<div data-role="container">
<div data-role="content">
<section class="page-aside-section">
<h4 class="page-aside-title">Members <div class="float-right"><button class="btn btn-primary btn-sm" onclick="ask_email()" type="button">Add</button>   </div></h4>
<div class="list-group">
<ul class="list-group">
			{% for member in members %}
                    <li class="list-group-item">
<div class="media">
<div class="pr-0 pr-sm-20 align-self-center">
<div class="avatar avatar-online">
<i class="avatar avatar-busy"></i>
</div>
</div>
<div class="media-body align-self-center">
<h5 class="mt-0 mb-5">
                            {{member}}
                          </h5>
</div>
<div class="pl-0 pl-sm-20 mt-15 mt-sm-0 align-self-center">
</div>
</div>
</li>
			{%endfor%}
                    
                   
                  </ul>
</div>
</section>
</div>
</div>
</div>
-->
<!---page-aside-inner-->
</div>
<div class="page-main">
<div class="page-header">
<h1 class="page-title">Model Dashboard</h1>
</div>
<form action="http://localhost:5001/answer" id="hidden" method="post" >
<input id="problem_statement" name="problem_statement" type="text" style="height:60px;width:530px;position:relative;left:300px;top:-70px"/>
</form>

<div style = "position:absolute;top:100px;left:900px;"><button type="button" onclick ="ask_problem()" class="btn btn-primary btn-sm">Convert</button>&nbsp;&nbsp;&nbsp;</div>

<h3 style = "position:absolute;top:150px;left:150px;">{{query_1}}</h3>
<div class="page-content">
<div class="panel">

<div class="panel-heading">
<!--<h3 class="panel-title">{{group_name}}
<div class="float-right" style="margin-right: 15px;"><div aria-label="Basic example" class="btn-group" role="group">
</div></div></h3>
-->
</div>
<div class="panel-body">
<div aria-multiselectable="true" class="panel-group" id="exampleAccordionDefault" role="tablist">
		{%for problem in problems %}
                    <div class="panel">
<div class="panel-heading" id="exampleHeadingDefault{{problem[0]}}" role="tab">
<a aria-controls="exampleCollapseDefault{{problem[0]}}" aria-expanded="false" class="panel-title collapsed" data-parent="#exampleAccordionDefault" data-toggle="collapse" href="#exampleCollapseDefault{{problem[0]}}">
                      Model #{{problem[0]}}<div class="float-right" style="margin-right: 15px;"><!-- <button type="button" class="btn btn-primary btn-sm">Edit</button>&nbsp;&nbsp;&nbsp; -->
	</div>
</a>
</div>
<div aria-labelledby="exampleHeadingDefault{{problem[0]}}" class="panel-collapse collapse" id="exampleCollapseDefault{{problem[0]}}" role="tabpanel">
<div class="panel-body">
                          {%for answer in problem[1] %}
			{{answer[0]}}&nbsp :&nbsp  {{answer[1]}}<br/>
			{%endfor%}
			<br/><br/>
</div>
</div>
</div>
			{%endfor%}
                    
                  </div>
</div>
</div>
</div><footer class="site-footer">
<div class="site-footer-legal">PES UNIVERSITY© 2018 <a></a></div>
<div class="site-footer-right">
        Crafted with by <a>TEAM RC-21</a>
</div>
</footer>
</div>
</div>
<!-- Footer -->
<!-- Core  -->
<script src="{{ url_for('static', filename='global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/popper-js/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/bootstrap/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/animsition/animsition.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/waves/waves.js') }}"></script>
<!-- Plugins -->
<script src="{{ url_for('static', filename='global/vendor/switchery/switchery.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/intro-js/intro.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/screenfull/screenfull.js') }}"></script>
<script src="{{ url_for('static', filename='global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
<!-- Scripts -->
<script src="{{ url_for('static', filename='global/js/Component.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Base.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Config.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/Menubar.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/Sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Section/PageAside.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/Plugin/menu.js') }}"></script>
<!-- Config -->
<script src="{{ url_for('static', filename='global/js/config/colors.js') }}"></script>
<script src="{{ url_for('static', filename='center/assets/js/config/tour.js') }}"></script>
<script>Config.set('assets', 'center/assets');</script>
<!-- Page -->
<script src="{{ url_for('static', filename='center/assets/js/Site.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/asscrollable.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/slidepanel.js') }}"></script>
<script src="{{ url_for('static', filename='global/js/Plugin/switchery.js') }}"></script>
<script>
	function ask_problem()
	{
		document.getElementById("hidden").submit();
		
	}
	
</script>
<script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });




        $('.page-aside-section').asScrollable(); 
      })(document, window, jQuery);
    </script>
</body>
</html>
